<div class="main-container">
  <div class="perfil-container">
    <div class="image-container">
      <img src="assets/img/catprofile.jpeg" width="150" alt="cute cat">
    </div>
    <div class="information-container">
      <div class="personal-information">
        <p>Jessica Randail</p>
        <p class="address">London, United Kingdom</p>
      </div>
      <div class="job">'Fontend Developer and avid reader.'</div>
    </div>
    <div class="skills-container">

      <div class="skill-item">
        <p>Github</p>
      </div>

      <div class="skill-item">
        <p>Frontend Mentor</p>
      </div>
      
      <div class="skill-item">
        <p>Linkedin</p>
      </div>

      <div class="skill-item">
        <p>Twitter</p>
      </div>

      <div class="skill-item">
        <p>Instagram</p>
      </div>
      
    </div>
  </div>
</div>